@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

:root {
  --bg: hsla(214, 100%, 80%, 0.2);
  --main--clr: hsla(230, 50%, 60%, 1);
  --sec--clr: hsla(90, 50%, 50%, 1);
  --txt--clr1: hsla(0, 10%, 40%, 1);
  --txt--clr2: hsla(0, 0%, 0%, 1);
  --bck--support: #fff;
  --border: none;
  --top--bg: #fff;
  --box--shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.05),
    5px 0 10px 0 rgba(0, 0, 0, 0.06);
}

body {
  height: 100vh;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background: var(--bg);
  color: var(--txt--clr2);
}
.dark--m {
  --bg: #000;
  --txt--clr1: #f6f6f6;
  --bck--support: rgba(255, 255, 255, 0.08);
  --txt--clr2: #fff;
  --border: 3px solid var(--main--clr);
  --top--bg: #111;
  --main--clr: hsla(230, 80%, 80%, 1);
  --box--shadow: -5px 0px 10px 0 rgba(255, 255, 255, 0.3),
    5px 0 10px 0 rgba(255, 255, 255, 0.3);
}

/* Working on top menu bar in css the start */
#top--menu--bar {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--top--bg);
  padding: 0.8rem 4rem;
  z-index: 66;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
#top--menu--bar > .logo {
  font-weight: bolder;
  font-size: 25px;
  letter-spacing: 3px;
  /* font-style: oblique; */
  /* -webkit-text-stroke: #000 1px; */
}
#top--menu--bar > .logo > span {
  font-size: 25px;
  color: var(--main--clr);
}
#top--menu--bar > .search--bar--con {
  border: 2px solid;
  width: 400px;
  border-radius: 200px;
  border: none;
  padding: 0.4rem 1rem;
  background-color: var(--bg);
}
#top--menu--bar > .search--bar--con > input {
  width: 100%;
  height: 100%;
  font-family: "Bitter", serif;
  font-size: 14px;
  background-color: transparent;
  color: var(--txt--clr1);
}
#top--menu--bar > .search--bar--con > input::placeholder {
  color: var(--txt--clr1);
  font-size: 14px;
  letter-spacing: 1px;
}

.menu--parent > .item {
  display: inline-block;
  margin-right: 2rem;
  /* border: 1px solid red; */
}

.item a {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 7px 15px;
  border-radius: 10px;
  transition: box-shadow 300ms linear;
}
.item a:focus {
  box-shadow: var(--box--shadow);
}
.item > a > span {
  font-size: 16px;
  display: block;
  color: var(--txt--clr1);
}
.item > a > .icon > ion-icon {
  font-size: 18px;
  align-self: center;
}
#top--menu--bar .opt--menu--list {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 2rem;
  transform: translateX(-30px);
}
.opt--menu--list > .noti--con {
  position: relative;
  /* border: 2px solid red; */
  width: 60px;
  /* line-height: 30px; */
}
.opt--menu--list > .noti--con ion-icon {
  font-size: 23px;
  color: var(--main--clr);
  font-weight: bolder;
  cursor: pointer;
  width: 100%;
}
.noti--con ion-icon::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-15px, 0px);
  font-size: 12px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 100%;
}
.opt--menu--list .dk--con > ion-icon {
  font-size: 23px;
  color: var(--main--clr);
  font-weight: bolder;
  cursor: pointer;
}

/* Working on top menu bar in css  the end*/
/* Styling for left side bar start here */
#leftside--menubar {
  position: fixed;
  width: 270px;
  min-height: calc(100% - 62px);
  left: 0;
  display: grid;
  gap: 2rem;
  padding: 6rem 2rem 0rem 2rem;
}

.catsNews--con .cat--title {
  font-size: 25px;
  font-weight: bold;
  color: var(--txt--clr2);
  letter-spacing: 2px;
  text-transform: capitalize;
}
#leftside--menubar .catsNews--con > .cat-items--con .cat--item-subCon {
  position: relative;
  margin-top: 0.2rem;
  height: 420px;
  padding: 0 0.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--main--clr), hsla(0, 0%, 70%, 0.4);
  line-height: 35px;
}

.cat--item-subCon::-webkit-scrollbar {
  width: 0.5rem;
  display: none;
}
.cat--item-subCon::-webkit-scrollbar-thumb {
  background-color: var(--main--clr);
  border-radius: 50px;
}
.cat--item-subCon::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 70%, 0.4);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* .cat--item-subCon > li > a{
} */
.cat--item-subCon > li > a span {
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--txt--clr1);
  transition: all ease 300ms;
}
.cat--item-subCon a:focus span {
  color: var(--main--clr);
  font-weight: bold;
  display: inline-block;
  transform: scale(1.15);
}
/* for the background */
[data-backgroud="white"] {
  background-color: var(--bck--support);
  padding: 20px 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.1), 0 -8px 5px 0 rgba(0, 0, 0, 0.1);
}
.profile--con {
  position: relative;
  /* margin-top: 1rem; */
}
.profile--con > .pro--pic--con {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  border: var(--border);
}
.pro--pic--con > img {
  height: 100%;
  width: 100%;
}
.profile--con > .profile--name {
  margin-top: 1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: var(--txt--clr2);
  font-weight: bold;
}
.profile--con > .setting--icon {
  position: absolute;
  top: 35px;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
  color: var(--txt--clr1);
}
/* for the background */
/* Styling for left side bar end here */
/* Styling for right side bar start here */
#rightside--bar {
  min-height: calc(100% - 62px);
  width: 380px;
  position: fixed;
  right: 0;
  padding: 6rem 1.5rem 2rem 0;
}

#rightside--bar > .rightside--features {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.rightside--features > a {
  letter-spacing: 2px;
  color: var(--txt--clr1);
}
.rightside--features > span:nth-child(1) {
  text-transform: capitalize;
  letter-spacing: 3px;
  color: var(--txt--clr2);
  font-weight: bold;
  font-size: 16px;
}
#rightside--bar > .relNews--cardCon {
  width: 100%;
  margin-top: 1rem;
  max-height: 650px;
  display: grid;
  justify-content: center;
  gap: 1rem;
  overflow-y: scroll;
  padding: 0.5rem;
}
.relNews--cardCon::-webkit-scrollbar {
  width: 0.4rem;
}
.relNews--cardCon::-webkit-scrollbar-thumb {
  background-color: var(--main--clr);
  background: transparent;
  border-radius: 50px;
}
.relNews--cardCon::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 70%, 0.4);
  background: transparent;
}
.relNews--cardCon > .rel--card {
  width: 100%;
  height: auto;
  background-color: var(--bck--support);
  padding: 1rem 1rem;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.rel--card:hover {
  transform: scale(1.03) translate(-4px, 0);
}
.relNews--cardCon > .rel--card > .rel--ftPic-con {
  /* height: 120px; */
  width: 100%;
  aspect-ratio: 16 /7;
  border-radius: 8px;
  overflow: hidden;
}
.rel--card > .rel--ftPic-con > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.rel--card > .relCard--tag--con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 0.5rem;
}
.tag {
  position: relative;
  color: var(--main--clr);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: hsla(230, 50%, 60%, 0.09);
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
}
.relCard--views--con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.relCard--tag--con > .relCard--views--con > ion-icon {
  font-size: 20px;
  color: var(--txt--clr1);
}
.relCard--views--con > span {
  font-size: 14px;
}

.rel--card > .cardTitle {
  margin-top: 0.8rem;
}
.rel--card > .cardTitle > h2 {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  /* font-family: 'Cormorant Garamond', serif; */
}
/* Main styling start here */
#mn--ds--con {
  /* border: 2px solid; */
  height: calc(100% - 62px);
  width: calc(100% - 380px - 250px);
  position: absolute;
  left: 250px;
  padding: 6rem 3rem;
}
#mn--ds--con .dsHeading h2 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
  text-transform: capitalize;
  width: max-content;
  border-bottom: 5px solid var(--main--clr);
}
#mn--ds--con .dsHeading h2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: var(--main--clr); */
}
#mn--ds--con .nws--ds--subCon {
  width: 100%;
}
.nws--ds--board {
  margin-top: 1.5rem;
  width: 100%;
  background-color: var(--bck--support);
  padding: 2rem;
  border-radius: 20px;
}
.nws--ds--board > .nws--img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 16/ 7;
  overflow: hidden;
  filter: blur(1px);
  transition: filter ease-in 400ms;
}
.nws--img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}
.nws--ds--board > .nws--img:hover {
  filter: blur(0);
}
#mn--ds--con .brd--sibling--con > .nws--opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  margin-top: 1rem;
}

.nws--opt > .opt--children--con {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: baseline;
  color: var(--main--clr);
}
.opt--children--con .opt--views {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.opt--children--con .opt--views > span {
  font-size: 14px;
}
.opt--children--con > .opt--views > ion-icon {
  font-size: 18px;
}
.brd--sibling--con {
  padding: 1rem 2rem 0rem 1rem;
}
.brd--sibling--con > .nws--tittle {
  margin-top: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.brd--sibling--con > .nws-au--bkmrk {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nws-au--bkmrk > .au--date span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
}
.au--date span:nth-child(2) {
  font-size: 10px;
}

.nws-au--bkmrk > .bkmrk > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--sec--clr);
  background-color: hsla(90, 50%, 60%, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.bkmrk > a .bk--icon {
  font-size: 20px;
}
.bkmrk > a .bk--title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: bolder;
}
/*News content styling start here */
.nws--content {
  padding: 1rem 0;
}
.nws--content span {
  display: block;
  font-family: "Bitter", serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  line-height: 25px;
}
.nws--content > span:not(.nws--content:nth-child(1)) {
  margin-top: 2rem;
}
/*News content styling end here */
/* Main styling end here */
